body{
  /* background-image: url("./images/back2.webp"); */
  background-image: url("./assets/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* transition: background-image 0.4s ease-out; */
}
.apixuImg{
  background-image: url("./assets/2.jpg");
}


/* .full-forecast-apixu{
  display: none;
} */
.noApixu{
  display: none;
}
.notOpenWeather{
  display: none;
}
.full-forecast-apixu .imga{
  width:8vw;
}
.forecast-4Days{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.forecast-4Days a{
  margin-top: 2vw;
  margin-left: 1vw;
  /* padding: 1vw; */
  border: 1px ridge rgba(156, 156, 152, 0.22);
  border-radius: 4%;
  color:black;
  text-decoration: none;
}
.forecast-4Days a:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.rain{
  color:blue;
}
.temp-day{
  color:rgb(227, 143, 17);
}
.temp-nigth{
  color:rgb(77, 137, 255);
}
.forecast{
  display: grid;
  /* grid-template-rows: 10% 70% 10% 10%; */
  /* grid-template-rows: 10% 65% 8% 7% 10%; */
}
.forecast div{
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5vw;
}
.forecast img{
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 9vw;
}
.now-and-map{
  display: grid;
  grid-template-columns: 55% 3% 42%;
}

.y_map{
  margin-top: 2vw;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
  width: 90%;
}

.all-weather-now{
  display: grid;
  grid-template-rows: 15% 85%;
  margin-top: 2vw;
  margin-left: 1vw;
  font-size: 2.3vw;
  box-shadow: 0 10px 20px rgba(0,0,0,0.6);
  border-radius: 2%;
  /* color:rgb(20, 1, 45); */
}
.weather-in{
  margin: 0;
  text-align: center;
}
.weather-now{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.weather-now img{
  width: 70%;
  justify-self:center;
}

.full-forecast-apixu .all-weather-now{
  color:#fa5656;
}

.main-forecast{
  margin-top: 2vw;
  font-size: 2.5vw;
  color: rgb(20, 1, 45);
}
.daily-forecast{
  box-shadow: 0 5px 5px 3px rgba(0,0,0,0.4);
  border-radius: 2%;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}
.daily-forecast p{
  font-size: 2vw;
  color: rgb(245, 150, 23);
}
.hourly{
  border-bottom: 1px outset;
  font-size: 2vw;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  justify-content: center;
  align-items: center;
  color:rgb(24, 2, 24);
  /* text-align: center; */
}

.hourly img{
  width:50%;
  justify-self: center;
  /* align-self: center; */
}

.footer{
  font-size: 1.5vw;
  margin-top: 2vw;
  color:rgb(245, 150, 23);
  border-top: 2px ridge;
  display: grid;
  grid-template-rows: 55% 5% 10% 5% 10% 5% 10%;
  padding: 0.5vw;
  text-align: center;
}

.links{
  display: grid;
  grid-template-columns: 40% 10% 10% 40%;
  align-items: center;
  /* text-align: center; */
}

.apixuLogo{
  width: 4vw;
  max-width: 140px;
}
.openWeatherLogo{
  width: 10vw;
  max-width: 140px;
}
.mail{
  text-decoration: none;
  color:darkblue;
}

@media screen and (min-width: 730px) {
  .forecast div{
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }
  .all-weather-now{
    font-size: 1.7vw;
  }
  .hourly{
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 500px) {
  .forecast div{
    font-size: 2.5vw;
  }
  .all-weather-now{
    font-size: 2.5vw;
  }
  .hourly{
    font-size: 2.5vw;
  }
  .footer{
    font-size: 2.3vw;
  }
}

@font-face {
font-family: "Georgia";
src: url("./assets/georgia.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

h1, p,h2, h3, h4, h5, h6, span, li{
font-family: "Georgia";
/* color: rgb(200, 209, 213); */
}
